@charset "UTF-8";

/*Fontes*/
@font-face {
    font-family: "Idroid";
    src: url(Assets/fontes/idroid.otf)
}
@font-face {
    font-family:Bebas Neue;
    src: url(Assets/fontes/BebasNeue-Regular.ttf);
}

:root{
    /*usada para criar uma variavel e por um valor*/

  --Cor2:#00F5E0;
  --Cor1:#00DBC9;
  --Cor0:#00B5A6;
  --Cor-1:#00756C;
  --Cor-2:#003631;
  --AsideColor :#89fff3;
  --FontIdroid: "Idroid",cursive;
  --Font-Padrao:sans-serif,"cursive";
  --FontBebas: 'Bebas Neue', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--Font-Padrao);
}
body{
    background-color: var(--Cor1);
    
}
header{
padding-bottom: 10px;
background-image: linear-gradient(to bottom,var(--Cor1),var(--Cor-1));

text-align: center;
}
header > h1{
    color: white;
    margin-top:20px;
    font-size: 3em;
    font-family: var(--FontBebas);

font-family: url(Assets/fontes/idroid.otf);
}
header > p{
    color: white;
   margin-top: 30px;
font-size: 1.3em;
font-weight: 600;
}
nav{
    background-color: var(--Cor-1);
    padding: 5px;
    font-family: var(--Font-Padrao);
    font-weight: bolder;
    font-size: 1.1em;
}   
nav a {
    color: var(--Cor-2);
    text-decoration: none;
}
main{
    max-width: 1100px;
    margin: auto;
    background-color: rgb(199, 255, 246);
    padding: 20px;
    margin-bottom: 40px;
    line-height: 24px;
}
main h1{
font-family: var(--FontIdroid);
color: var(--Cor-2);
}
main h2{
font-family: var(--FontIdroid);
font-size: 1.5em;
color: var(--Cor-1);
background-image: linear-gradient(to right,#6affff8a,transparent);
}
main p{
    margin: 13px 0px;
    text-indent: 40px;
    text-align: justify;
      
}
main img{
    width: 100%;
}
main img.MinImg{
    max-width: 400px;
    margin: auto;
    display: block;
}
aside{
    background-color:var(--AsideColor);
    padding: 20px;

    border-radius: 20px 20px 0px 0px;   
}

aside > h3{
    background-color: var(--Cor-1);
    margin: -20px -20px 20px -20px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
ul{
    columns: 2;
}
li{
    list-style-position: inside;
    list-style-type: "\2714\00A0";
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}